<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>Image Processing API</title>
    <style>
        body {
            text-align: center;
            font-family: sans-serif;
        }
        .mt-5 {
            margin-top: 5rem;
        }
        .mb-3 {
            margin-bottom: 3rem;
        }
        p {
            font-size: 1.5rem;
        }
        .github-corner {
            fill: #0971a2;
            color: Canvas;
        }
        .img {
            width: 480px;
        }
        ul,ol {
            list-style: none;
        }
    </style>
</head>
<body>
