<%- include('includes/head') %>
<h1>500</h1>
<h2>Opps, something went wrong</h2>
<p>Server Error 500, We apologise and are fixing the problem.</p>
<p>Please try again at a later stage.</p>
<%- include('includes/500') %>
<!-- GitHub Source -->
<%- include('includes/github') %>
<%- include('includes/footer') %>
