<%- include('includes/head') %>
<h1>404</h1>
<h2>Image Not Found</h2>
<%- include('includes/404') %>
<div class='btn-wrapper'>
    <a href="/" class='btn'>Go to Home</a>
</div>
<!-- GitHub Source -->
<%- include('includes/github') %>
<%- include('includes/footer') %>
